{% load static %}
<!DOCTYPE html>
<meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'css/timmy/start.css' %}">
<html>
<head>
  <title>我的台科物語</title>

</head>
<body  background="{% static 'images/timmy/大二.jpg' %}"> 
<div class="id_wrapper">
  <div class="name">
    <div style="float:left;">
    <img class="circular--square"/>
    </div>
    <div class="namefont" style="float:left;font-size:50px;color:#FF7F50; -webkit-text-stroke: 1px #FF7F50;text-align:center;line-height:110px; border-radius:5px;">
      {{User.name}}
      </div>
    </div>
  <div class="dropdown" style="float:right;">
      <button class="dropbtn" style="font-size: 15px;">選單</button>
      <div class="dropdown-content">
        <a href="#">儲存目前進度</a>
        <a href="{% url 'startGame' %}">回主頁</a>
      </div>
  </div>
  <div class="foot" style="float:right; border-radius: 20px;">
    &nbsp &nbsp 要不要做點課外活動啊<br>
    <div style="text-align: center;">
      <button class="button" onclick="location.href='{% url 'sophomoreOp101t' %}'";>加入系學會</button>
      <button class="button" onclick="location.href='{% url 'sophomoreOp102t' %}'";>當助教</button><br>
      <button class="button" onclick="location.href='{% url 'sophomoreOp103t' %}'";>找打工賺錢</button>
      <button class="button" onclick="location.href='{% url 'sophomoreOp104t' %}'";>讀書就好</button><br>
       
    </div>
  </div>
</div>
</body>
</html>