{% load static %}
<!DOCTYPE html>
<meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'css/emico/start.css' %}">
<html>
<head>
	<title>我的台科物語</title>
</head>
<body  background="{% static 'images/emico/上課.jpg' %}">	
<div class="id_wrapper">
	<div class="name">
		<div style="float:left;">
		<img class="circular--square"/>
		</div>
		<div class="namefont" style="float:left;font-size:50px;color:#FF7F50; -webkit-text-stroke: 1px #FF7F50;text-align:center;line-height:110px; border-radius:5px;">
      {{User.name}}
    	</div>
  	</div>
	<div class="dropdown" style="float:right;">
  		<button class="dropbtn" style="font-size: 15px;">選單</button>
  		<div class="dropdown-content">
  			<a href="#">儲存目前進度</a>
  			<a href="{% url 'startGame' %}">回主頁</a>
  		</div>
	</div>
  <div class="foot">
    &nbsp &nbsp 要不要認真聽講呢<br>
    <div style="text-align: center;">
      <button class="button" onclick="location.href='{% url 'classbook' %}'"; >要！開始做筆記</button>
      <button class="button" onclick="location.href='{% url 'classvideo' %}'";>看影片</button><br>
      <button class="button" onclick="location.href='{% url 'classsleep' %}'";>睡覺</button>
      <button class="button" onclick="location.href='{% url 'escape' %}'";>蹺課</button>
    </div>
  </div>
</div>
</body>
</html>